@charset "utf-8";
/* CSS Document */

/*キコエレ*/

#kikoere {
	max-width: 1920px;
	width: 100%;
	height: auto;
}
/*top*/
#kikoere #cont01 h1{
	text-align: center;
	width: 100%;
	height: auto;
}
#kikoere #cont01 h1 img{
	width: 100%;
	height: auto;
}



/*diagnesis*/
#kikoere #cont02 {
	padding-left: 10%;
	padding-right: 10%;
}
#kikoere h2 {
	font-size: 45px;
	margin-top: 8%;
	line-height: 0;
}
#kikoere h2 span {
	font-size: 24px;
	font-weight: bold;
	padding-left: 5%;
}
#kikoere #cont02 p{
	font-size: 24px;
}
@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
	
	#kikoere h2 {
		font-size: 26px;
		margin-top: 8%;
	}
	#kikoere #cont02 p{
		font-size: 16px;
	}
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
	#kikoere h2 {
		font-size: 18px;
		margin-top: 8%;
	}
	#kikoere #cont02 p{
		font-size: 10px;
	}
}

@media screen and (max-width: 310px) {
	#kikoere h2 {
		line-height: normal;
	}
}
	
	
	

#kikoere .flex {
	display: flex;
	align-items: center;
	/*margin-top: 3%;*/
	margin-left: 8%;
	/*margin-bottom: 2%;*/
}
#kikoere #cont02 .q {
	max-width: 300px;
	width: 90%;
}
#kikoere #cont02 .otoderu .q img {
	width: 100%;
	
	/*ボタン立体*/
	display: inline-block;
	/*padding: 0.8em 3em;*/
	background-color: #D8E6ED; /* 背景色 */
	box-shadow: 0 5px 0 #7AB5D2; /* 影の太さ・色 */
	border-radius: 60px;
	color: #fff;
	cursor: pointer;
	text-decoration: none; /* 文字の下線を消す */
}
#kikoere #cont02 .otoderu .q img:active {
  box-shadow: none;
  transform: translateY(5px);
}

/*
#kikoere #cont02 .q img:hover {
	background-color: #FFF570;
}
*/



#kikoere #cont02 .text-only .q img {
	width: 100%;
}

/*チェックボックス*/
#kikoere #cont02 .c {
	margin-left: 2%;
}
/*リセット */
input[type="checkbox"]  {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* チェックボックスデザイン */
input[type="checkbox"] {
	cursor: pointer;
    padding-left: 15%;/*label手前にチェックボックス用の余白を開ける*/
    vertical-align: middle;
    position: relative;
}
input[type="checkbox"]::before,
input[type="checkbox"]::after {
	content: "";
    display: block; 
    position: absolute;
}
input[type="checkbox"]::before {
    background-color: #fff;
    border-radius: 0%;
    border: 2px solid #666464;
    width: 40px;/*チェックボックスの横幅*/
    height: 40px;/*チェックボックスの縦幅*/
    transform: translateY(-50%);
    top: 50%;
    left: 5px;
}
input[type="checkbox"]::after {
    border-bottom: 3px solid #666464;/*チェックの太さ*/
    border-left: 3px solid #666464;/*チェックの太さ*/
    opacity: 0;/*チェック前は非表示*/
    height: 10px;/*チェックの高さ*/
    width: 18px;/*チェックの横幅*/
    transform: rotate(-45deg);
    top: -10px;/*チェック時の位置調整*/
    left: 17px;/*チェック時の位置調整*/
}
input[type="checkbox"]:checked::after {
	opacity: 1;/*チェック後表示*/
}


@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
	
	/* チェックボックスデザイン */
  input[type="checkbox"]::before {
    border: 2px solid #666464;
    width: 30px;/*チェックボックスの横幅*/
    height: 30px;/*チェックボックスの縦幅*/
    transform: translateY(-50%);
    top: 50%;
    left: 5px;
  }
  input[type="checkbox"]::after {
    border-bottom: 2px solid #666464;/*チェックの太さ*/
    border-left: 2px solid #666464;/*チェックの太さ*/
    opacity: 0;/*チェック前は非表示*/
    height: 7px;/*チェックの高さ*/
    width: 14px;/*チェックの横幅*/
    transform: rotate(-45deg);
    top: -7px;/*チェック時の位置調整*/
    left: 14px;/*チェック時の位置調整*/
  }
}
/* @media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
	
	/* チェックボックスデザイン */
	/*input[type="checkbox"]::before {
		border: 1px solid #666464;
		width: 20px;/* 
		/*チェックボックスの横幅*/
		/*height: 20px;/* 
		/*チェックボックスの縦幅*/
		/*transform: translateY(-50%);
		top: 50%;
		left: 5px;
	}/* 
	input[type="checkbox"]::after {/* 
		border-bottom: 1px solid #666464;/* 
		/*チェックの太さ*/
		/*border-left: 1px solid #666464;/* 
		/*チェックの太さ*/
		/*opacity: 0;/* 
		/*チェック前は非表示*/
		/*height: 4px;/* 
		/*チェックの高さ*/
		/*width: 10px;/* 
		/*チェックの横幅*/
		/*transform: rotate(-45deg);/* 
		top: -4px;
		/*チェック時の位置調整*/
		/*left: 10px;/* 
		/*チェック時の位置調整*/
	/*}/* 
}/* 


/*結果を見る*/
#kikoere #cont02 .look {
	margin-top: 5%;
	margin-bottom: 10%;
	text-align: center;
}
#kikoere #cont02 .look a{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 100px;
	padding-right: 100px;
	/*width: 350px;
	height: 50px;*/
	border-radius: 10px;
	color: white;
	font-size: 28px;
	cursor: pointer;
	background-color: #181C7B;
	text-decoration: none;
	box-shadow: 0 5px 0 #060726; /* 影の太さ・色 */
}

#kikoere #cont02 .look a:active {
	box-shadow: none;
	transform: translateY(5px);
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
	/*#kikoere #cont02 .look a{
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 70px;
		padding-right: 70px;
		font-size: 21px;
	}*/
}



/*nextページ*/
#kikoere #inner {
	margin-left: auto;
	margin-right: auto;
	padding-left: 2%;
	padding-right: 2%;
	max-width: 800px;
	width: 90%;
}
#kikoere #inner img {
	width: 100%;
	pointer-events: none;
}

#cd {
	max-width: 800px;
	width: 100%;
	font-size: 150px;
	font-weight: bold;
	text-align: center;
}
@media screen and (max-width: 1065px) {
	/* 1065px以下に適用されるCSS（タブレット用） */
	#cd {
		font-size: calc(100vw / 6);
	}
}

